


<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> 

<head>
    <title>Sample Portfolio</title>

    <!-- Metadata - Customize for your product -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Company Inc.">
	<meta name="copyright" content="(C)2015 Company Inc., Box 0000, City, state Zip U.S.A."> 

    <!-- Global CSS & Favicon -->
    <link rel="stylesheet" href="assets/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/CMI.css">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="assets/css/component_specific/CMI-header-component.css">
    <link rel="stylesheet" href="assets/css/component_specific/CMI-banner-navigation-component.css">
    <link rel="stylesheet" href="assets/css/component_specific/CMI-banner-carousel-component.css">
    <link rel="stylesheet" href="assets/css/component_specific/CMI-fat-footer-component.css">
    <link rel="stylesheet" href="assets/css/component_specific/CMI-social-media-footer-component.css">
    <link rel="stylesheet" href="assets/css/component_specific/CMI-global-footer-component.css">

    <!-- Home_Page_Template Inline CSS -->
    <style>
        .minimal {
            top: 35px;
        }

    </style>
    <!-- JQuery Includes -->
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Page Specific JQuery Includes -->
    <script type="text/javascript" src="assets/js/responsivemobilemenu.js"></script>
    <script type="text/javascript" src="assets/js/search.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script src='assets/js/bcslider.js'></script>
</head>

<body>
<!-- Begin Top Wrapper -->
<div class="top">
    <!-- Begin Global Container -->
    <div class="container">
        <!-- Begin Responsive Container -->
        <div id="global-buttons" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Begin Global Navigation Bar -->
            <div class="btn-group navbar-right" role="group" aria-label="...">
                <!-- Customer Support Button -->
                <button type="button" class="btn global-btn phone-btn">
                    <a href="page_faq.html">
                        <i class="icon-phone"></i><span class="hidden-xs">Customer Support</span>
                    </a>
                </button>
                <!-- Language Button -->
                <div class="btn-group" role="group">
                    <button type="button" class="btn global-btn globe-btn dropdown-toggle " data-toggle="dropdown"
                            aria-expanded="false">
                        <a href="#">
                            <i class="icon-globe"></i><span class="hidden-xs">Languages</span>
                        </a>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Chinese (中文)</a></li>
                        <li><a href="#">Czech (ceský)</a></li>
                        <li><a href="#">Dutch (Nederlands)</a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">French (Française)</a></li>
                        <li><a href="#">German (Deutsch)</a></li>
                        <li><a href="#">Indonesian (Bahasa Indonesia)</a></li>
                        <li><a href="#">Italian (Italiano)</a></li>
                        <li><a href="#">Polish (Polski)</a></li>
                        <li><a href="#">Portuguese (Português)</a></li>
                        <li><a href="#">Romanian (Român)</a></li>
                        <li><a href="#">Spanish (Español)</a></li>
                        <li><a href="#">Swedish (Svenska)</a></li>
                        <li><a href="#">Turkish (Türk)</a></li>
                        <li><a href="#">Vietnamese (Việt)</a></li>
                    </ul>
                </div>
                <!-- Community Button -->
                <div class="btn-group" role="group">
                    <button type="button" class="btn global-btn community-btn dropdown-toggle " data-toggle="dropdown"
                            aria-expanded="false">
                        <a href="#">
                            <i class="icon-community"></i><span class="hidden-xs">Company SubSites</span>
                        </a>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Site 1 Link</a></li>
                        <li><a href="#">Site 2 Link</a></li>
                        <li><a href="#">Site 3 Link</a></li>
                        <li><a href="#">Site 4 Link</a></li>
                        <li><a href="#">Site 5 Link</a></li>
                        <li><a href="#">Site 6 Link</a></li>
                    </ul>
                </div>
                <!-- End Global Navigation Bar -->
            </div>
            <!-- End Responsive Container -->
        </div>
        <!-- End Global Container -->
    </div>
    <!-- End Top Wrapper -->
    <!-- Begin Header Section -->
    <div class="header">
        <!-- Begin Container Section -->
        <div class="container">
            <!-- Begin Full Size Navbar -->
            <div class="navbar-header">
                <div class="logo col-sm-5 col-md-4 col-lg-4">
                    <a href="#">
                        <div class="logo_img" title="Cummins">
                            <img src="assets/img/navigation/cummins_logo.png" alt="logo"/>
                        </div>
                        <div class="sub-brand">
                            <h2>SHAMILI</h2>
                        </div>
                    </a>
                </div>

                <nav class="main_menu">
                    <ul id="nav" class="pull-right" style="padding-left:0px;">
                        <li><a href="#">Products</a></li>
                        <li class="divider"></li>
                        <li class="banner-dropdown">
                            <a class="banner-dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret1">&nbsp;</span></span>
                                Catalog
                            </a>
                            <ul>
                                <li><a href="#">Catalog Overview</a></li>
                                <li><a href="#">Cross Reference</a></li>
                                <li><a href="#">Fleet Manager</a></li>
                                <li><a href="#">Part Details</a></li>
                                <li><a href="#">Order a Catalog</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Literature</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Innovation</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Tools/Service</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Training</a></li>
                        <li class="divider"></li>
                        <li class="no-right-border"><a href="#">About Us</a></li>
                        <li class="hidden-xs search-container"><a href="#" class="search"><i
                                class="icon-search search-btn"></i></a></li>
                        <div class="search-open">
                            <form id="searchSite" method="post" action="page_search.html">
                            <span class="searchicon">
                                <input id="searchText" type="text" placeholder=""/>
                                <ul class="results">
                                    <li><a href="#">Six Sigma </a></li>
                                    <li><a href="#">Stock Cummins</a></li>
                                    <li><a href="#">San Antonio Plant</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                </ul>
                            </span>
                            </form>
                        </div>
                    </ul>
                    <!--<div class="search-container hidden-xs">
                        <a href="#" class="search"><i class="icon-search search-btn"></i></a>
                    </div>-->

                </nav>
            </div>
            <!-- End Full Size Navbar -->

            <!-- Begin Responsive Menu -->
            <div class='rmm' data-menu-style="minimal">
                <ul id="mobile_menu" class="box-shadow">
                    <li><a href="#">Products</a></li>
                    <li class='has-subnav'><a href="#">Catalog</a>
                        <ul class="sub-cat">
                            <li><a href="#">Catalog Overview</a></li>
                            <li><a href="#">Cross Reference</a></li>
                            <li><a href="#">Fleet Manager</a></li>
                            <li><a href="#">Part Details</a></li>
                            <li><a href="#">Order a Catalog</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Innovation</a></li>
                    <li><a href="#">Tools/Service</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <!-- End Responsive Menu -->
            <!-- Begin Responsive Search Button -->
            <div class="responsive-search-container visible-xs">
                <a href="#" class="search"><i class="icon-search search-btn"></i></a>

                <div class="search-open">
                    <form id="searchSite" method="post" action="page_search.html">
                    <span class="searchicon">
                        <input id="searchText" type="text" placeholder=""/>
                        <ul class="results">
                            <li><a href="#">Six Sigma</a></li>
                            <li><a href="#">Stock Cummins</a></li>
                            <li><a href="#">San Antonio Plant</a></li>
                            <li><a href="#">Sustainability</a></li>
                        </ul>
                    </span>
                    </form>
                </div>
            </div>
            <!-- End Responsive Search Button -->
        </div>
        <!-- End Container Section -->
    </div>
    <!-- End Header Section -->
	
	<div ng-app="myApp">
	
  <meta name="viewport" content="width=device-width, user-scalable=no"> 
  <link rel="stylesheet" href="css/custom.css">
  <script src="libs/angular/angular.min.js"></script>  
  <script src="libs/app.js"></script>
  
  <div>
  <section class="registrationForm" ng-app="myApp" ng-controller="FormController">
     <form name="regform" ng-submit="register()" novalidate>
        <div>
          <h1>Login Page</h1>
          <h4>It doesn't takes more than 10 seconds, we have count it !!!</h4>
          <h3 ng-show="message">{{ message }}</h3>
        </div>
    
        <input type="text" name="username"  ng-required="true"    placeholder="Username"
               ng-model="user.username">   
        <p class="error" ng-show="regform.username.$touched && regform.username.$invalid">
            Username is required !!!</p>
        
        <input type="email" name="email"    ng-required="true"    placeholder="Email"
               ng-model="user.email">
        <p class="error" ng-show="regform.email.$touched && regform.email.$invalid">
            Please provide a valid Email !!!</p>
        
        <input type="password" name="password" ng-required="true"  placeholder="Password"
               ng-model="user.password" ng-minlength="8">
        <p class="error" ng-show="regform.password.$touched && regform.password.$invalid">
            Password must be atleast 8 characters long !!!</p>
        
        <button type="submit" class="btn">Submit</button>      
     </form>
  </section>
</div>
	
	</div>


                           
   

   <!-- Begin Footer Section -->
<div class="footer">
    <!-- Begin Container Section -->
    <div class="container">
        <!-- Begin Global Footer Row -->
        <div class="">
            <img class="eprivacy" src="assets/img/footer/eprivacy.gif"/>
            <!-- Begin Copyright/Logo/ePrivacy section -->
            <div class="col-xs-12 col-sm-6 col-md-6 global-footer-logo-container">
                <img class="global-footer-logo" alt="Cummins logo" src="assets/img/footer/cummins-g-f.png"/>
                <span class="col-xs-9 col-sm-10 col-md-10 col-lg-12 global-footer-copy">&copy; 2015  Company , Box XXXX, City, state Zip-0000 Country</span>
            </div>
            <!-- End Copyright/Logo/ePrivacy section -->

            <!-- Begin Larger Resolution Links -->
            <!-- Only visible on larger resolution browsers -->
            <div class="hidden-xs col-sm-6 col-md-6 global-footer-links">
                <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> | <a Href="#">Site Map</a>
            </div>
            <!-- End Larger Resolution Links -->

            <!-- Begin Smaller Resolution Links -->
            <!-- Only visible on lower resolutions -->
            <div class="visible-xs col-xs-12" style="padding-bottom:11px;">
                <span class="col-xs-10">
                    <a class="mobile-footer-links col-xs-9" href="#">Privacy Policy</a>
                    <a class="mobile-footer-links col-xs-9" href="#">Terms and Conditions</a>
                    <a class="mobile-footer-links col-xs-9" href="#">Site Map</a>
                </span>
            </div>
            <!-- End Smaller Resolution Links -->
        </div>
        <!-- End Global Footer Row -->
    </div>
    <!-- End Container Section -->
</div>
<!-- End Footer Section -->
    <!-- Search Dropdown Script -->
    <script>
        $('input').on('keyup', function () {
            if (!$('.results').is(':visible')) $('.results').show();
        });
    </script>
    <!-- End Search Dropdown Script -->
    <!-- jQuery Call for Dropdown Arrow in Menu -->
    <script type="text/javascript">
        jQuery(function () {
            jQuery(".banner-dropdown").hover(
                    function () {
                        jQuery(this).toggleClass('open');
                        jQuery('span', this).toggleClass("banner-caret-down");
                    });
        });
    </script>
    <!-- End jQuery Call for Dropdown Arrow in Menu -->

    <!-- jQuery Call for Search Functionality -->
    <script type="text/javascript">
        jQuery('.search').click(function () {
            if (jQuery('.search-btn').hasClass('icon-search')) {
                jQuery('.search-open').fadeIn(500);
                jQuery('.search-btn').removeClass('icon-search');
                jQuery('.search-btn').addClass('icon-remove');
                jQuery('#searchText').focus();
            } else {
                jQuery('.search-open').fadeOut(500);
                jQuery('.search-btn').addClass('icon-search');
                jQuery('.search-btn').removeClass('icon-remove');
            }
        });
    </script>
    <!-- End jQuery Call for Search Functionality -->

    <!-- jQuery Call for Accordion Collapse/Expand -->
    <script>
        $('.collapse').collapse()
    </script>
    <!-- End jQuery Call for Accordion Collapse/Expand -->

    <!-- jQuery Call for Banner Slider -->
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#banner-carousel').bcslider({
                slideshow: {
                    speed: 3,
                    timer: false
                },
                preset: ['h_slide_right'],
                width: 1024,
                height: 365,
                animation: {
                    transition: 'appear',
                    variation: 'right'
                }
            });
        });
    </script>
    <!-- End jQuery Call for Banner Slider -->

    <!-- Begin jQuery Call for Hide Banner Button -->
    <script type="text/javascript">
        function setVisibility(id, visibility) {
            document.getElementById(id).style.display = visibility;
        }
    </script>
    <!-- End jQuery Call for Hide Banner Button -->

    <!-- jQuery Call Navigation Hover -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            //App.initBxHPSlider();
            //Index.initParallaxSlider();
        });
    </script>
    <!-- End jQuery Call Navigation Hover -->
</body>
</html>