/*
Global Footer Component Stylesheet
Cummins UX Standards Template
(C)2015 Cummins Inc., Box 3005, Columbus, IN 47202-3005 U.S.A.
For questions, UI standards and more contact the Cummins UX Team
*/
.global-footer-logo {
    padding: 10px 25px 10px 0px;
}

.global-footer-copy {
    font-family: 'Helvetica Neue 55', Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #cccccc;
    line-height: 15px;
    position: absolute;
    bottom: 7px;
    padding-left: 0px;
}

.global-footer-links {
    font-family: 'Helvetica Neue 55', Arial, sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #cccccc;
    line-height: 20px;
    text-align: right;
    position: relative;
    top: 36px;
}

.global-footer-links a {
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin: 0 10px;
}

.global-footer-links a:hover {
    border-bottom: 1px solid white;
}

.mobile-footer-links {
    font-family: 'Helvetica Neue 55', Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 50px;
    white-space: nowrap;
    width: 100% !important;
    padding-right: 0px;
}

.mobile-footer-links:hover {
    color: #fff;
}

.mobile-footer-copy {
    font-family: 'Helvetica Neue 55', Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #cccccc;
    line-height: 15px;
    position: absolute;
    bottom: 7px;
}

.eprivacy {
    position: absolute;
    left: 0px;
    bottom: 0px;
	margin-left: -7px;
}

.ePrivacy-icon-mobile {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media only screen and (max-width: 320px) {
    .global-footer-logo {
        padding: 10px 10px 10px 5px;
    }

    .mobile-footer-links {
        padding-left: 40px;
    }
}

@media (min-width: 751px) and (max-width: 930px) {
    .global-footer-links a {
        padding: 7px;
        font-size: 1em;
    }

}